venv/
.venv/
__pycache__/
.DS_Store
*.sqlite3
*.vscode
staticfiles



.idea/aws.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/she-codes-crowdfunding-api-project-bendog-1.iml
.idea/vcs.xml
